%helloworld {
  content: "hello, world";
}

* {
  &:before { @extend helloworld; }
  &:after { @extend helloworld; }
}

/*
Compiles to the following CSS:

*:before {
	content: "hello, world";
}

*:after {
	content: "hello, world";
}
*/
